#{extends 'main.html' /}
#{set title:'Editing fiddle '+webFiddle.uuid /}

#{set 'moreStyles'}
	#{stylesheet 'bootstrap.min.css' /}
	#{stylesheet 'style.css' /}
#{/set}

#{set 'moreScripts'}
	#{script 'src-min-noconflict/ace.js' /}
	#{script 'script.js' /}
#{/set}

		<div class="row ">
			<div class="col-lg-12">
				<div class="btn-group">
				  <button type="button" id="btnRun" class="btn btn-success">Run</button>
				  <button type="button" id="btnSave" class="btn btn-primary">Save</button>
				  <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
				</div>
			</div>

		</div>
		<div class="well">
			#{form @Application.saveFiddle(), id:'fiddleForm'}
			<input type="hidden" name="uuid" value="${webFiddle.uuid}"/>
			<div class="row">
			 	 <div class="col-lg-6">
			  		<pre id="editorHTML" class="editor" style="html">${ webFiddle.html }</pre>
			  		<textarea id="htmlHelper" class="hidden" name="html"></textarea>
			  	</div>
				<div class="col-lg-6">
					<pre id="editorCSS" class="editor" style="css">${ webFiddle.css }</pre>
			  		<textarea id="cssHelper" class="hidden" name="css"></textarea>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-lg-6">
			  		<pre id="editorJS" class="editor" style="js">${ webFiddle.js }</pre>
			  		<textarea id="jsHelper" class="hidden" name="js"></textarea>
			  	</div>
			  	<div class="col-lg-6">
			  		<iframe id="live" src=""></iframe>
			  		<div id="load"></div>
			  	</div>
			</div>
			#{/form}
		</div>
	</div>
	#{form @Application.deleteFiddle(webFiddle.uuid), id:'fiddleFormDelete'}#{/form}